[user]
	name = shimehituzi
	email = shimehituzi@gmail.com
[core]
	page = nvim -R
[color]
	pager = no
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[fetch]
    prune = true
